<div *ngIf="childSelectedHero">
  <h1>Edit Hero</h1>
  <div>
    <label>Hero Name:</label>
    <input [(ngModel)]="childSelectedHero.name">
  </div>
  <div>
    <label>Hero Img URL:</label>
    <input [(ngModel)]="childSelectedHero.imgurl">
  </div>
  <div>
    <label>Hero ID:</label>
    <input [(ngModel)]="childSelectedHero.id">
  </div>
  <div>
    <label>Hero Property:</label>
    <select [(ngModel)]="childSelectedHero.property">
          <option value="Rock">Rock</option>
          <option value="Scissors" selected="selected">Scissors</option>
          <option value="Paper">Paper</option>
        </select>
  </div>
  <div>
    <label>Type</label>
    <select [(ngModel)]="childSelectedHero.type">
      <option value="AreaAttack">AreaAttack</option>
      <option value="Attack">Attack</option>
      <option value="Balance" selected="selected">Balance</option>
      <option value="Defense">Defense</option>
      <option value="Support">Support</option>
    </select>
    <button (click)="doneClicked()">Done</button>
  </div>
</div>